---
layout: page
title: "Tags"
permalink: /tags
---

{% assign tags = site.tags | sort %}

<div class="tags-cloud">
  {% for tag in tags %}
    <a href="#{{ tag[0] }}" style="margin-right: 10px;">{{ tag[0] }} ({{ tag[1].size }})</a>
  {% endfor %}
</div>

<hr>

{% for tag in tags %}
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%Y.%m.%d" }}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<script>
  // URL의 해시(#단어)를 감지하여 해당 섹션으로 부드럽게 이동하거나 
  // 특정 태그 게시물만 강조하고 싶을 때 자바스크립트를 추가할 수 있습니다.
</script>
