{%- if include.category -%}
  {%- assign posts = site.categories[include.category] -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}

{%- if posts.size > 0 -%}
  <ul class="post-full-list">
    {%- for post in posts limit: include.limit -%}
      <!--li-->
        <time class="post-date">
          {{ post.date | date: "%Y.%m.%d. %H:%M:%S" -}}
        </time>
        <!--a class="post-title" href="{{ post.url }}"-->
         <!-- {{ post.title }}-->
          {{ post.content | strip_html | strip_newlines }}</br>
        <!--/a-->
      <!--/li-->
    {%- endfor -%}
  </ul>
{%- endif -%}
