{%- if include.category -%}
  {%- assign posts = site.categories[include.category] -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}

{%- assign limit = include.limit | default: posts.size -%}

{%- if posts.size > 0 -%}
  <div class="post-list">

    {%- for post in posts limit: limit -%}
      <div>
        {{ post.content | strip_html | strip_newlines }}
        <time class="post-date">
          {{ post.date | date: "%Y.%m.%d. %H:%M:%S" }}
        </time>
      </div>
    {%- endfor -%}

    <!--  더보기  -->
    {%- if include.show_more and posts.size > limit -%}
      <div class="post-more">
        <a href="{{ include.show_more_url }}">
          {{ include.show_more_text | default: "More posts →" }}
        </a>
      </div>
    {%- endif -%}

  </div>
{%- endif -%}
