{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul class="post-full-list">
    {%- for post in posts limit: include.limit -%}
        <li style="margin-bottom: 20px; list-style: none;">
          <span style="font-weight: bold; margin-right: 15px;">
            {{- post.date | date: "%Y.%m.%d. %H:%M:%S" -}}
          </span> <div class="post-content" style="display: inline-block; vertical-align: top;">
            {{ post.content }}
          </div>
        </li>
    {%- endfor -%}
    
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}
