/* assets/css/home-sticky.css */
.home-notes-wall {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 40%;
  height: 200px;
  pointer-events: none;
}

.home-sticky {
  pointer-events: auto;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 2px;
}

.home-sticky .content-body {
  font-size: 0.9rem;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
