---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%- if site.theme_config.show_description -%}
    <p>{{ site.description }}</p>
  {%- endif -%}
  <link rel="stylesheet" href="/assets/css/home-sticky.css">
</header>

{%- include menu_item.html collection=site.data.menu.entries -%}

<main class="content-area">
  {{ content }}

  <div class="home-notes-wall">
    {% for note in site.notes limit: 50 %}
      <div class="sticky-notes home-sticky" >
        <div class="content-body">{{ note.content | strip_html | truncate: 50 }}</div>
        <div class="date">{{ note.date | date: "%y.%m.%d" }}</div>
      </div>
    {% endfor %}
  </div>
</main>

<script src="/assets/js/home-sticky.js"></script>
